{% extends "layouts/main.twig" %}

{% block title %}Not Found{% endblock %}
{% block head %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
    <center><h1>Not Found</h1></center>
{% endblock %}